<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
        <h1 style="color:white">Angular CRUD</h1>
        <div class="d-flex">
            <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
             class="btn btn-success btn-sm">Add Employee</button>
        </div> 
    </div> 
</nav>

<table class="table table-striped mt-3">
    <thead>
        <tr>
        <th scope="col">Employee Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>        
        <th scope="col">Email Id</th>
        <th scope="col">Mobile No</th>        
        <th scope="col">Salary</th>
        <th scope="col">Action</th>
     </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="col">103</td>
            <td scope="col">Shivani</td>
            <td scope="col">Yadav</td>
            <td scope="col">yshivand@gmail.com</td>
            <td scope="col">9023897d50</td>
            <td scope="col">40000</td>
            <td scope="col">
                <button class="btn btn-info">Edit</button>
                <button class="btn btn-danger mx-2">Delete</button>
            </td>
         
        </tr>
    </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" 
aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
    
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup] = "formValue">
                <div class="form-group mb-3" >
                  <label for="firstName" class="form-label">First Name</label>
                  <input type="text" formControlName="firstName" class="form-control" id="firstName">
                </div>
                <div class="form-group mb-3" >
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" formControlName="lastName" class="form-control" id="lastName">
                  </div>
                  <div class="form-group mb-3" >
                    <label for="emailId" class="form-label">Email Id</label>
                    <input type="email" formControlName="emailId" class="form-control" id="emailId">
                  </div>
                 
                  <div class="form-group mb-3" >
                    <label for="mobileNo" class="form-label">Mobile Number</label>
                    <input type="number" formControlName="mobileNo" class="form-control" id="mobileNo">
                  </div>
                  <div class="form-group mb-3" >
                    <label for="salary" class="form-label">Salary</label>
                    <input type="number" formControlName="salary" class="form-control" id="salary">
                  </div>
              </form>
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="postEmployeeDetails()">Add</button>
        </div>
      </div>
    </div>
  </div>